body{
    background-color: rgba(128, 128, 128, 0.123);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1{
    color: salmon;
    font-size: 25px;
    font-weight: bold;        
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.item{
    height: 200px;
    width: 130px;
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
}
.box{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.item1{
    background-color: #5CC8D7;
}
.box1{
    background-color: #B1624E;   
}
.item2{
    background-color: #6E6E6D;
}
.box2{
    background-color: #FAD0C9;
}
.item3{
    background-color:#D64161 ;
}
.box3{
    background-color:#364b44;
}
.item4{
    background-color: #76528B;
}
.box4{
    background-color: #CBCE91;
}